<!DOCTYPE html>
<html>
  <head>
    <title>Events</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <%- include("../partials/nav.ejs") %>
    <h1>Events</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Hardcore</th>
        <th>CharID</th>
        <th>UserID</th>
      </tr>
      <% eventdata.forEach(event => { %>
        <tr>
          <td><%= event.id %></td>
          <td><%= event.hardcore %></td>
          <td><%= event.charID %></td>
          <td><%= event.userId %></td>
        </tr>
      <% }) %>
    </table>
    <a href="http://localhost:3001/events/createEvents" class="btn">Create Event</a>
  </body>
</html>