<!DOCTYPE html>
<html>
  <head>
    <title>Events</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <%- include("../partials/nav.ejs") %>
    <h1>Events</h1>
    <div class="table-container">
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Hardcore</th>
        <th>Character Class</th>
        <th>Name</th>
      </tr>
      <% eventdata.forEach(event => { %>
        <tr>
          <td><%= event.id %></td>
          <td><%= event.hardcore %></td>
          <td><%= event.character.class %></td>
          <td><%= event.user.name %></td>
        </tr>
      <% }) %>
    </table>
    </div>
    <a href="/events/createEvents" class="btn">Create Event</a>
    <a href="/events/deleteEvents" class="btn">Delete Event</a>
  </body>
</html>